.SignUpModalWrapper {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 425px;
  top: 100px;
  left: 35%;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  cursor: default;
  padding: 40px 20px;
}

.SignUp-title {
  font-weight: bold;
  font-size: 24px;
}

.SignUp-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.signUp-check {
  margin-left: 15px;
  display: flex;
  align-items: start;
}

.signUp-label {
  font-size: 12px;
  font-weight: 400;
}

.signUp-button {
  margin-top: 10px;
  width: 315px;
  height: 40px;
  background-color: rgba(145, 108, 180, 0.937);
  color: white;
  font-weight: bold;
  border: 0;
  cursor: not-allowed;
}

.validOk {
  width: 50px;
  height: 50px;
}
.active {
  background-color: rgba(133, 22, 237, 0.937);
  cursor: pointer;
}

.signUp-input {
  width: 315px;
  height: 30px;
  padding: 5px;
}

.signUp-policy {
  font-size: 10px;
}

.closeSignUp {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 28px;
  background-color: rgb(222, 26, 26);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.popup-error {
  padding: 0;
  position: absolute;
  border: 1px solid;
  margin-top: -80px;
  background-color: rgb(214, 181, 141);
  text-align: center;
}
